<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
        This is where I'm trying to do stuff with exif data
        <div>

            <img src="<%= image %>"  style="height:50%;width:50%"/>

        </div>

  </body>
</html>