<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
        <p>
        Helpful links:
        <br><a href='/exif'>/exif page</a>
    </p>
  </body>
</html>